<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="katusha" type="MS.Katusha.Configuration.KatushaConfigurationHandler, MS.Katusha" />
  </configSections>
  <katusha>
    <encryption passPhrase="K@teryna" saltValue="Bor02na" hashAlgorithm="SHA1" passwordIterations="3" initVector="M3rtS@kAry@Miray" keySize="128" />
    <s3Buckets>
      <bucket bucketName="s.mskatusha.com" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s.mskatusha.com" endPoint="s3-eu-west-1.amazonaws.com" />
      <!-- s3-external-3.amazonaws.com -->
      <bucket bucketName="MS.Katusha" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s3.amazonaws.com/MS.Katusha" endPoint="s3.amazonaws.com" />
      <bucket bucketName="MS.Katusha.EU" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s3.amazonaws.com/MS.Katusha.EU" endPoint="s3-eu-west-1.amazonaws.com" />
      <bucket bucketName="MS.Katusha.Test" accessKey="0QEGQJ1M8RF3X413SY02" secretKey="rh/NhdUpGlobZH+NgfuBzMLbOSf57+tHUwVKieT+" rootUrl="://s3.amazonaws.com/MS.Katusha.Test" endPoint="s3.amazonaws.com" />
      <!-- 
      Amazon Endpoints (from http://docs.amazonwebservices.com/general/latest/gr/rande.html ) 
      
      Region                                Endpoint	                          Location  Constraint  Protocol
      US Standard *	                        s3.amazonaws.com	                  (none required)	      HTTP and HTTPS
      US West (Oregon) Region	              s3-us-west-2.amazonaws.com	        us-west-2             HTTP and HTTPS
      US West (Northern California) Region	s3-us-west-1.amazonaws.com	        us-west-1             HTTP and HTTPS
      EU (Ireland) Region	                  s3-eu-west-1.amazonaws.com	        EU	                  HTTP and HTTPS
      Asia Pacific (Singapore) Region	      s3-ap-southeast-1.amazonaws.com	    ap-southeast-1	      HTTP and HTTPS
      Asia Pacific (Tokyo) Region	          s3-ap-northeast-1.amazonaws.com	    ap-northeast-1	      HTTP and HTTPS
      South America (Sao Paulo) Region	    s3-sa-east-1.amazonaws.com	        sa-east-1	            HTTP and HTTPS      
      -->
    </s3Buckets>
    <!--
    <paypal>
      <extension ref="mertsakarya_api1.hotmail.com" email="mertsakarya@hotmal.com" NotificationUrl="Payments/PaypalNotification" CancelUrl="Payments/PaypalCancel" ReturnUrl="Payments/PaypalGetCheckout" />
      <extension ref="mertm_1344098150_biz_api1.hotmail.com" email="merts_1344005613_biz@hotmail.com="  NotificationUrl="Payments/PaypalNotification" CancelUrl="Payments/PaypalCancel" ReturnUrl="Payments/PaypalGetCheckout" />
    </paypal>
    <applications>
      <application applicationName="CommandLine" accessKey="ekl1heT" secretKey="1p2o3i4u5y6t7r8e9w0q" roles="HidePasswords, SingleUser" />
      <application applicationName="Any" accessKey="eklih3T" secretKey="1p2o3i4u5y6t7r8e9w0q" roles="" />
    </applications>
    -->
  </katusha>
  <connectionStrings>
    <add name="MS.Katusha.Repositories.DB.Context.KatushaDbContext" connectionString="Data Source=localhost;Initial Catalog=MS.Katusha.Domain.DbContext;Integrated Security=True;Application Name=MS.Katusha" providerName="System.Data.SqlClient" />
    <add name="RavenDB" connectionString="Url=http://localhost:8080/" />
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MS.Katusha.Web-20120819175635;Integrated Security=SSPI" />
  </connectionStrings>
  <appSettings>
    <!-- overridden by AppHarbor -->
    <add key="VirtualPath" value="://localhost:10595/" />
    <add key="PaypalSandbox" value="false" />
    <add key="S3.Default.Bucket" value="MS.Katusha.Test" />
    <add key="Protocol" value="http" />
    <add key="MS.Katusha.Source" value="local" />
    <add key="NotTrackedIpsByGoogleAnalytics" value="::1, 127.0.0.1 (localhost), 176.33.14.254 (ev), 213.74.26.198 (sahibinden), 195.33.232.233" />
    <!-- /overridden by AppHarbor -->
    <add key="MS.Katusha.Mode" value="windows" />
    <add key="AdministratorMailAddress" value="mskatusha.info@gmail.com" />
    <!--add key="NotTrackedIpsByGoogleAnalytics" value="::1, 127.0.0.1 (localhost), 176.33.14.254 (ev), 213.74.26.198 (sahibinden), 195.33.232.233" /-->
    <!--add key="NotTrackedIpsByGoogleAnalytics" value=" " /-->
    <add key="PaypalAPIUsername" value="mertsakarya_api1.hotmail.com" />
    <add key="PaypalAPIPassword" value="G7CY554VR4NZC52P" />
    <add key="PaypalSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31Aje.McNqe5-Um3Zu0Pn4AG2wuHL4" />
    <add key="PaypalEmail" value="mertsakarya@hotmail.com" />
    <add key="PaypalSandboxAPIUsername" value="merts_1344005613_biz_api1.hotmail.com" />
    <add key="PaypalSandboxAPIPassword" value="1344005650" />
    <add key="PaypalSandboxSignature" value="AZrqeOc2t4zr8s1lOprs6S3uEfafAXb4ORCF4aNZxz.pzwIWPoOQMTBv" />
    <add key="PaypalSandboxEmail" value="merts_1344005613_biz@hotmail.com" />
    <add key="PaypalNotificationUrl" value="Payments/PaypalNotification" />
    <add key="PaypalCancelUrl" value="Payments/PaypalCancel" />
    <add key="PaypalReturnUrl" value="Payments/PaypalGetCheckout" />
    <!-- CacheProvider can be [Empty/Null/None] = No Cache, [Redis] (For Redis Caching mode REDISTOGO_URL must be set), [RavenDB] or [Memory] -->
    <add key="CacheProvider" value="Memory" />
    <add key="REDISTOGO_URL" value="ubuntu.katusha.com:6379" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Glimpse.RavenDb.DocumentStoreApplicationKey" value="MyDocStore" />
    <add key="Glimpse.RavenDb.HiddenFields" value="PasswordHash,PasswordSalt" />
    <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
    <add key="LOGENTRIES_LOCATION" value="" />
    <add key="log4net.Internal.Debug" value="true" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
